<!doctype html>
<html ng-app="app">
<head>
    {% load staticfiles %}
    <script src="{% static 'js/angular/angular.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
</head>
<body>
{% verbatim %}
<div class="main" ng-controller="controller">
    <div class="row panel panel-default panel-body">
        <div class="col-xs-12"
            ng-click="state='main'">
            <h1>FILMWEB</h1>
        </div>
    </div>


    <div class="row panel panel-default panel-body" ng-show="state=='main'">
        <div class="col-xs-12">
            <input placeholder="Podaj tytuł filmu..." ng-model="searchfilm.name">
        </div>
        <div class="row">
            <button ng-click="addFilm()">Dodaj film</button>
            <button ng-click="addPerson()">Dodaj osobę</button>
        </div>
    </div>




    <div class="row" ng-show="state=='filmadd'">
        <h2>Dodaj nowy film:</h2>

        <form class="form-horizontal" role="form" ng-submit="pushFilm()">
            <div class="form-group">
                <label class="control-label col-sm-4" for="nazwaFilmu">Nazwa filmu
                    <span class="required">*</span>
                </label>
                <div class="col-sm-6">
                    <input type="text" ng-model="nowyFilm.nazwa" id="nazwaFilmu" maxlength="50" required
                           class="form-control" placeholder="Podaj nazwę filmu..."/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="nazwaFilmuOrg">Oryginalna nazwa filmu</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="nowyFilm.nazwa_oryginalna" id="nazwaFilmuOrg" maxlength="50"
                           class="form-control" placeholder="Podaj oryginalną nazwę filmu..."/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="rokFilmu"> Rok produkcji
                    <span class="required">*</span>
                </label>
                <div class="col-sm-6">
                    <input type="number" min="1895" ng-model="nowyFilm.rok_produkcji" id="rokFilmu" required
                           class="form-control" placeholder="Podaj rok produkcji filmu..."/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="czasFilmu"> Czas trwania(minuty) </label>
                <div class="col-sm-6">
                    <input type="number" min="0" ng-model="nowyFilm.czas_trwania" id="czasFilmu"
                           class="form-control" placeholder="Podaj czas trwania filmu..."/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="budzetFilmu"> Budżet($) </label>
                <div class="col-sm-6">
                    <input type="number" min="0" step="any" ng-model="nowyFilm.budzet" id="budzetFilmu"
                           class="form-control" placeholder="Podaj budżet filmu..."/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="produkcjaFilmu"> Kraj produkcji
                    <span class="required">*</span>
                </label>
                <div class="col-sm-6">
                     <select class="form-control ng-dirty" id="produkcjaFilmu"
                        ng-model="items.country"
                        ng-options="country.nazwa for country in countries | orderBy:'nazwa'"
                        ng-change="addCountryToNewFilm()">
                     </select>
                    <div class="btn" ng-click="deleteCountryFromNewFilm($index)" ng-show="nowyFilm.produkcja.length>0"
                        ng-repeat="country in nowyFilm.produkcja">
                            {{ country.nazwa }} <b>X</b>
                    </div>
                    <div ng-show="nowyFilm.produkcja.length==0">
                        <span class="error"><code>Wybierz przynajmniej jeden kraj</code></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="gatunkiFilmu"> Gatunek
                    <span class="required">*</span>
                </label>
                <div class="col-sm-6">
                     <select class="form-control" id="gatunkiFilmu"
                        ng-model="items.genre"
                        ng-options="genre.nazwa for genre in genres | orderBy:'nazwa'"
                        ng-change="addGenreToNewFilm()">
                     </select>

                    <div class="btn" ng-click="deleteGenreFromNewFilm($index)" ng-show="nowyFilm.gatunki.length>0"
                        ng-repeat="genre in nowyFilm.gatunki">
                            {{ genre.nazwa }} <b>X</b>
                    </div>
                    <div ng-show="nowyFilm.gatunki.length==0">
                        <span class="error"><code>Wybierz przynajmniej jeden gatunek</code></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="premieraFilmu"> Data premiery </label>
                <div class="col-sm-6">
                    <input type="date" ng-model="nowyFilm.data_premiery" id="premieraFilmu"
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="premieraPlFilmu"> Data premiery(Polska) </label>
                <div class="col-sm-6">
                    <input type="date" ng-model="nowyFilm.data_premiery_polska" id="premieraPlFilmu"
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="opisFilmu"> Opis filmu </label>
                <div class="col-sm-6">
                    <textarea class="form-control" ng-model="nowyFilm.opis" id="opisFilmu"
                        placeholder="Wprowadź opis filmu...">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 pull-right" class="btn">
                    <input type="submit" value="Dodaj film"
                           class="form-control" ng-click="info(nowyFilm)"/>
                </div>
            </div>
        </form>
    </div>



    <div class="row" ng-show="state=='personadd'">
        <h2>Dodaj nową osobę:</h2>

        <form class="form-horizontal" role="form" ng-submit="pushPerson()">

            <div class="form-group">
                <label class="control-label col-sm-4" for="imieOsoby">Imię osoby
                    <span class="required">*</span>
                </label>
                <div class="col-sm-6">
                    <input type="text" ng-model="nowaOsoba.imie" id="imieOsoby" maxlength="50" required
                           class="form-control" placeholder="Podaj imię osoby..."/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="nazwiskoOsoby">Nazwisko osoby
                    <span class="required">*</span>
                </label>
                <div class="col-sm-6">
                    <input type="text" ng-model="nowaOsoba.nazwisko" id="nazwiskoOsoby" maxlength="50" required
                           class="form-control" placeholder="Podaj nazwisko osoby..."/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="dataUrodzenia"> Data urodzenia
                    <span class="required">*</span>
                </label>
                <div class="col-sm-6">
                    <input type="date" ng-model="nowaOsoba.data_urodzenia" id="dataUrodzenia" required
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="dataSmierci"> Data śmierci </label>
                <div class="col-sm-6">
                    <input type="date" ng-model="nowaOsoba.data_smierci" id="dataSmierci"
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="krajOsoby"> Kraj </label>
                <div class="col-sm-6">
                     <select class="form-control ng-dirty" id="krajOsoby"
                        ng-model="nowaOsoba.kraj_urodzenia"
                        ng-options="country.nazwa for country in countries | orderBy:'nazwa'">
                     </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="wzrostOsoby"> Wzrost(cm) </label>
                <div class="col-sm-6">
                    <input type="number" min="0" ng-model="nowaOsoba.wzrost" id="wzrostOsoby"
                           class="form-control" placeholder="Podaj wzrost osoby..."/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="biografiaOsoby"> Biografia </label>
                <div class="col-sm-6">
                    <textarea class="form-control" ng-model="nowaOsoba.biografia" id="biografiaOsoby"
                        placeholder="Wprowadź biografię osoby...">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 pull-right" class="btn">
                    <input type="submit" value="Dodaj osobę"
                           class="form-control" ng-click="info(nowaOsoba)"/>
                </div>
            </div>
        </form>
    </div>




    <div class="row" ng-show="state=='filmview'">
        witam
    </div>

    <div class="row" ng-show="state=='filmedit'">
        witam
    </div>
</div>
{% endverbatim %}
</body>
</html>

